@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-font: Montserrat, Arial, Helvetica, sans-serif;
  --text-color: #1a1a1a;
  --background-color: #f8f8f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  font-size: 16px;
}

header {
  display: flex;
  align-items: center;
  gap: 10vw;
  padding: 70px 100px;
  background-color: #f2efea;
}
header h1 {
  font-weight: 600;
}

.header__link {
  margin: 15px, 0px;
  text-decoration: none;
  color: var(--text-color);
}

.header__link:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  align-items: center;
  gap: 10vw;
  padding: 70px 100px;
  background-color: #f2efea;
}

.footer__description {
  width: 20vw;
}

.footer__description h2 {
  font-weight: 600;
}

.footer__link {
  text-decoration: none;
  color: var(--text-color);
}

.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 70px 70px;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 70px 70px;
  }

  .footer__description {
    width: 60vw;
  }
}

/* gobal class */
.watchlist__buttons {
  border: none;
  border-radius: 5px;
  padding: 4px 8px;

  background-color: #d9cbaf;
  color: #0f0f0f;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--primary-font);
}

.watchlist__buttons:hover {
  background-color: #c9b98d;
}

/* home page */
.listing-preview__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2vw;
  row-gap: 3vh;
  padding: 70px 50px;
}

.listing-preview {
  text-decoration: none;
  color: var(--text-color);
}

.listing-preview__image {
  width: 27.33vw;
}

.listing-preview__text {
  margin: 5px;
}

.listing-preview__text h2 {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .listing-preview__image {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .listing-preview__image {
    width: 80vw;
  }
}

/* admin page */
.login {
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
  padding: 70px 100px;
  font-weight: 600;
}

.login__buttons {
  display: flex;
  gap: 1.5vw;
}

.login__button {
  border: none;
  border-radius: 5px;
  padding: 4px 8px;

  background-color: #d9cbaf;
  color: #0f0f0f;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--primary-font);
}

.login__button:hover {
  background-color: #c9b98d;
}

.login__image {
  max-height: 300px;
  opacity: 0.4;
}

.login__message {
  font-weight: 500;
}

@media (max-width: 1200px) {
  .login {
    flex-direction: column;
    max-height: none;
  }
  .login__form {
    padding-bottom: 0;
  }
  .login__image {
    max-height: none;
    width: 100vw;
    opacity: 0.4;
  }
}

/* Individual listing page */

.listing-full__text {
  margin: 70px 100px;
}
.listing-full__text h2 {
  font-weight: 600;
  margin-bottom: 8px;
}
.listing-full__text h3 {
  font-weight: 500;
  margin-bottom: 16px;
}

.listing-full__image {
  width: 100%;
}

.listing-full__title {
  padding-bottom: 20px;
}
.listing-full__description {
  font-size: 14px;
}

.listing-full__details {
  padding: 30px 0px;
  border-top: 1px solid #838383;
}
.listing-full__contact {
  padding: 30px 0px;
  border-top: 1px solid #838383;
}

.listing-full__details-info {
  margin-left: 10vw;
}
.listing-full__details-info p:not(:last-child) {
  margin-bottom: 20px;
}
.listing-full__contact-info {
  margin-left: 10vw;
}
.listing-full__contact-info p:not(:last-child) {
  margin-bottom: 20px;
}

.listing-full__button {
  padding: 30px 0px;
  border-top: 1px solid #838383;
}

@media (max-width: 768px) {
  .listing-full__text {
    margin: 70px 70px;
  }
}
